# Ignore all node_modules folders
**/node_modules/

# Ignore environment variable files
**/.env

# Ignore build folders
**/dist/
**/build/
**/.next/

# Ignore log files
**/*.log

# OS/system files
.DS_Store
Thumbs.db
